body {
    background: blue;
    font-family: helvetica, sans-serif;
    text-align: center;
  margin: 0 auto;
  max-width: 600px;
  background: url("https://t4.ftcdn.net/jpg/04/16/27/09/360_F_416270919_yB6gnLAGkLogS2ObsoECTJ5uRRNp8u4x.jpg");
  background-size: cover;
}
div {
  height: 200px;
  background-size: cover;
  background-color: gray;
  text-align: justify;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 75px;
  color: black;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: red;
  margin: 60px 0 20px 0;
}
h3 {
    text-align: center;
    color: black;
    margin: 60px 0 0 0;
}

img {
    border: 5px;
    border-radius: 1000px;
    margin: 100px;
}

.radio:hover:hover span {
    display: none;
  }
  
  .radio:hover:before {
    content:"Completed!";
  }
  
  .radio:hover {
    background-color: green;
  }
