body {
    background: blue;
    font-family: helvetica, sans-serif;
    text-align: center;
  margin: 0 auto;
  max-width: 600px;
  background: url("https://t4.ftcdn.net/jpg/04/16/27/09/360_F_416270919_yB6gnLAGkLogS2ObsoECTJ5uRRNp8u4x.jpg");
  background-size: cover;
}
div {
  height: 200px;
  background-size: cover;
  background-color: transparent;
  text-align: center;
  position: relative;
  margin: 10px 40px 40px 40px;
  border-radius: 12px;
}
button {
    margin: 70px;
    height: 50px;
    /*max-width: 70px;*/
}
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  
h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 75px;
  color: black;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: black;
  font-size: 18px;
  margin: 60px 0 20px 0;
}
h3 {
    text-align: center;
    color: black;
    font-size: 18px;
    margin: 60px 0 0 0;
}
p {
    margin: 0 0 0 0;
}
img {
    border: 5px;
    border-radius: 100px;
    margin: 50px 0 10px 0;
}
.jokeContainer {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 10px gold;
    margin: 30px 0 30px 0;
}
.radio:hover:hover span {
    display: none;
  }
  
  .radio:hover:before {
    content:"Completed!";
  }
  
  .radio:hover {
    background-color: green;
  }
